<main class="container mx-auto p-6 flex-1">
  <section class="bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-xl md:text-3xl font-bold text-blue-600 mb-4 text-center break-words leading-tight">
      Рекомендации по эпидемиологии
    </h1>

    <p class="text-lg md:text-xl text-gray-700 mb-6 leading-relaxed text-center break-words">
      Эпидемиология играет важную роль в предупреждении распространения инфекционных заболеваний и обеспечении здоровья населения. Ниже приведены основные рекомендации по профилактике заболеваний и поддержанию здоровья.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="bg-gray-100 p-6 rounded-lg shadow-md transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
        <h2 class="text-base md:text-3xl font-semibold text-gray-800 mb-4 text-center">Профилактические меры</h2>
        <ul class="list-disc pl-6 text-gray-700 space-y-3 text-center">
          <li>Регулярное мытье рук с мылом и использование антисептиков.</li>
          <li>Ношение масок в общественных местах и закрытых помещениях.</li>
          <li>Поддержание социальной дистанции и избегание больших скоплений людей.</li>
          <li>Проветривание помещений и регулярная уборка поверхностей.</li>
          <li>Вакцинация согласно рекомендованным графикам.</li>
        </ul>
      </div>

      <div class="bg-gray-100 p-6 rounded-lg shadow-md transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
        <h2 class="text-base md:text-3xl font-semibold text-gray-800 mb-4 text-center">Вакцинация</h2>
            <ul class="list-disc pl-6 text-gray-700 space-y-3 text-center">
            <li>Эффективный способ защиты от инфекционных заболеваний.</li>
            <li>Формирует коллективный иммунитет и снижает риск вспышек.</li>
            <li>Следуйте национальному календарю прививок.</li>
            <li>Обсуждайте дополнительные вакцины с врачом.</li>
            <li>Особенно важна для детей, пожилых и людей с хроническими болезнями.</li>
            </ul>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center gap-12 mt-12">
      <img src="<%= asset_path('gripp_1.png') %>" class="max-w-full max-h-[700px] object-contain rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105 cursor-pointer" onclick="openImageInNewWindow('<%= asset_path('gripp_1.png') %>')">
      <img src="<%= asset_path('gripp_2.png') %>" class="max-w-full max-h-[700px] object-contain rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105 cursor-pointer" onclick="openImageInNewWindow('<%= asset_path('gripp_2.png') %>')">
    </div>

    <div class="text-center mt-12">
      <a href="https://www.rospotrebnadzor.ru/sanitary_rules/polnye-teksty-dokumentov.php" class="text-blue-500 hover:underline font-semibold text-lg">
        Узнать больше о профилактике заболеваний
      </a>
    </div>
  </section>
</main>
